<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Riven Launcher</string>
  <key>CFBundleDisplayName</key>
  <string>Riven Launcher</string>
  <key>CFBundleIdentifier</key>
  <string>org.bxteam.riven</string>
  <key>CFBundleExecutable</key>
  <string>riven</string>
  <key>CFBundleIconFile</key>
  <string>riven</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>@VERSION@</string>
  <key>CFBundleVersion</key>
  <string>@VERSION@</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.games</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>BX Team, GPL-3.0-or-later</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>org.bxteam.riven</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>riven</string>
      </array>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Riven pack</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.bxteam.riven.pack</string>
      </array>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.bxteam.riven.pack</string>
      <key>UTTypeDescription</key>
      <string>Riven pack</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.zip-archive</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>riven</string>
        </array>
      </dict>
    </dict>
  </array>
</dict>
</plist>
